#cart {
  position: fixed;
  top: 50px;
  right: 0;
  height: 95%;
  background-color: #fff;
  color: #333;
  width: 30rem;
  border: 1px solid #b16767;
  padding: 20px 30px;
}

#cart h2 {
  margin: 20px 0;
  padding: 0;
  font-family: "Metal Mania", cursive;
  text-align: center;
  font-size: 30px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

.cart-item,
.cart-price,
.cart-quantity {
  margin: 10px 0;
  padding: 0 0 10px;
  border-bottom: 1px solid #333;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
}

.cart-quantity {
  width: 35%;
}

.cancel {
  position: absolute;
  cursor: pointer;
  color: #797575;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #797575;
  border-radius: 7px;
  padding: 5px;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
  margin: 20px 0;
  font-weight: bold;
}

.total-title,
.total-value {
  margin-right: 10px;
}

.purchase-btn {
  display: inline-block;
  margin-top: 50px;
  background-color: #56ccf2;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 8%;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.purchase-btn:hover {
  background-color: #4bb7e0;
}
